<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Home</a></li>
    <li><a href="javascript:;">Device Data</a></li>
</ol>
    <!-- end breadcrumb -->

    <!-- begin page-header -->
    <h1 class="page-header">Device Data</h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
        
        <!-- begin col-10 -->
        <div class="col-md-12">
              <div class="panel panel-inverse panel-body">
                  <dynamic-data-table [caption]="'Device Models'"></dynamic-data-table>
              </div>
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
    