<div id="dynamic-data-table">
  
  <div class="table-responsive" *ngIf="hasData()">
    <table [id]="tableViewId" class="table table-striped table-bordered">
    <caption *ngIf="caption">{{ caption }}</caption>  
    <thead>
        <tr>
            <th *ngFor="let map of columnMaps">{{ map.header }}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd gradeX" *ngFor="let record of records">
            <td *ngFor="let map of columnMaps">{{ record[map.primaryKey] }}</td>
        </tr>
    </tbody>
    </table>
  </div>
</div>
