<h2>Cylinder Block Line Efficiency</h2>

<div style="position:relative;width:1000px;height:750px;">
  <iframe id="foo"  style="position:relative" width="1000" height="750" 
  src="https://app.powerbi.com/view?r=eyJrIjoiMmVjNjUxNDQtOTM1Yy00NDU0LThjYzYtMGJiN2I3Mzg5MjhkIiwidCI6IjVlNTlhOGNkLWE4MzEtNDMwNi1hYTFjLTUzMWNlMmI1ZjZhYyIsImMiOjZ9" frameborder="0" allowFullScreen="true">
      ></iframe>
          <div style="background:#EAEAEA;height:30px;width:200px;position:absolute;bottom:5px;color:#fff;"></div>
          <div style="background:#EAEAEA;height:30px;width:200px;position:absolute;bottom:5px;right:0px;color:#fff;"></div>
      </div>